build/
ckpts/

**/__pycache__
*.pyc
work_dirs/
/data
mmdet3d.egg-info/
DEBUG/
splattingocc_workdir/
socc_workdir
pyrightconfig.json
**/*.so
/DATA
tools/sam_encoder/segment_anything.egg-info/
*.out
env.sh
run.sh
socc_*/
*.log
test_results/